{
	extends: [
		'eslint:recommended', 
		'es2015'
	],
	plugins: [
		'react'
	],
	parserOptions: {
		ecmaFeatures: {
			jsx: true
		},
		sourceType: 'module'
	},
	globals: {
		clearInterval: true,
		clearTimeout: true,
		document: true,
		m: true,
		module: true,
		require: true,
		SearchSpring: true,
		setInterval: true,
		setTimeout: true,
		window: true,
		console: true
	},
	rules: {
		'no-console': [ 0 ],
		'object-curly-spacing': [ 2, 'always' ],
		'semi': [ 2, always ],
		'comma-spacing': [2, {'before': false, 'after': true}],
		'no-fallthrough': [2],
		'comma-style': [2, 'last'],
		'new-parens': [2],
		'no-spaced-func': [2],
		'curly': [2, 'all'],
		'no-else-return': [2],
		'no-multi-spaces': [2],
		'indent': [2, 'tab'],
		'camelcase': [2],
		'brace-style': [2, '1tbs', { 'allowSingleLine': true }],
		'no-cond-assign': [ 0 ],
		'no-unused-vars': [ 'error', {
			varsIgnorePattern: '^m$'
		} ],
		'react/jsx-uses-vars': [ 2 ]
	}
}
